.item {
    background-color: white;
    -webkit-box-shadow: 1px 2px 7px 0px rgba(124, 124, 124, 0.27);
    -moz-box-shadow: 1px 2px 7px 0px rgba(124, 124, 124, 0.27);
    box-shadow: 1px 2px 7px 0px rgba(124, 124, 124, 0.27);
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 4fr 8fr 2fr 3fr 4fr 1fr;
    margin-top: 10px;
    align-items: center;
}
.delete {
    margin-left: auto;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    display: flex;
    transition-duration: 0.2s;
    >img {
        object-fit: fill;
        margin: auto;
        cursor: pointer;
    }
    &:hover {
        opacity: 0.6;
    }
}